* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
    font-family: 'Noto Sans JP', sans-serif;
}

.kv_container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.slide-container {
    display: flex;
    width: 100%;
    height: auto;
    transition: all 1s ease;
}

.left-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
}

.right-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}


.left-arrow,
.right-arrow {
    cursor: pointer;
}


.slide-container div img {
    width: 100vw;
    height: auto;
}






.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);

}

.logo {
    // margin: 0 auto 20px auto;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 450;
    color: white;
    padding-left: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;

}


nav ul li a {
    text-decoration: none;
    color: white;

}

nav.sticky {


    position: fixed;
    left: 0;
    top: 0;
    color: black;
    background-color: rgb(148 99 41 / 62%);
    display: flex;
    align-items: center;
    // padding: 5px 3%;
    transition: 0.6s;

}

nav.sticky ul {
    background-color: transparent;
}