// font-family: 'Cormorant Garamond', serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Water Brush', cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
    color: #3B230E;
    font-family: 'Cormorant Garamond', serif;
}

// kv設定
.kv_container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    color: white;
}

.slide-container {
    display: flex;
    width: 100%;
    height: auto;
    transition: all 1s ease;
}

.left-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30px;
    transform: rotate(128deg);
}

.right-arrow {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: solid 5px #fff;
    border-right: solid 5px #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-45deg);
    z-index: 1;
}


.left-arrow,
.right-arrow {
    cursor: pointer;
}


.slide-container div img {
    width: 100vw;
    height: auto;
}

// ヘッダー
#header1 {
    height: 100px;
    width: 100%;
    padding: 0px 15px;
    background-color: rgb(27 36 38 / 76%);
    position: fixed;
    top: 0;
    z-index: 10;


    .header_inner {
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;

    }

    .logo {
        color: #ffffff;
        text-decoration: none;
        display: block;
        line-height: 60px;
        padding: 0 20px;

        a {
            text-decoration: none;
            color: white;
        }

    }

    .pc {
        margin: 0 0 0 auto;

        .menu2 .top_btn {
            border-radius: 5%;
            color: #222;
            border: 1px solid #222;
            padding: 0.5em 1.5em;
            background-color: #fff;
        }
    }

    .sm {
        display: none;
    }
}

#header1.change-color {
    background-color: rgb(183 97 25 / 59%);
    transition: all 0.8s;
}


.logo {
    // margin: 0 auto 20px auto;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 450;
    color: white;
    padding-left: 50px;
}

.menu2 {
    display: flex;
    justify-content: space-between;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;

    a {
        text-decoration: none;
        color: white;
    }

}

nav.sticky {
    position: fixed;
    left: 0;
    top: 0;
    color: black;
    background-color: rgb(148 99 41 / 62%);
    display: flex;
    align-items: center;
    // padding: 5px 3%;
    transition: 0.6s;

    ul {
        background-color: transparent;
    }
}

#about {
    margin: 100px 50px;

    // &:nth-child(2) {
    //     flex-direction: row-reverse;
    // }

    h1 {
        text-align: center;
        margin-bottom: 100px;
        letter-spacing: 0.3em;
    }

    h2 {
        text-align: center;
        letter-spacing: 0.3em;

    }

    .about_container {
        display: flex;
        // justify-content: space-around;
        align-items: center;
        margin-top: 50px;


        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }


        .aboutbox {
            width: 40%;
            margin: auto 5%;

            h3 {
                margin-bottom: 40px;
                font-size: 30px;
                letter-spacing: 0.2em;
                position: relative;

                &:after {
                    content: "01";
                    font-family: "Water Brush", cursive;
                    font-size: 15vw;
                    color: #f2f2f2;
                    position: absolute;
                    top: -17vh;
                    right: 0;
                    z-index: -1;
                }
            }

            .btn {
                display: inline-block;
                background-color: rgb(183 97 25 / 59%);
                width: 40%;
                height: 40px;
                text-decoration: none;
                color: #FCFCFA;
                text-align: center;
                line-height: 40px;
                margin-top: 30px;

                &:hover {
                    background-color: #FCFCFA;
                    border: 1px solid rgb(183 97 25 / 59%);
                    color: #3B230E;
                }

            }
        }

    }
}

.about_img {
    width: 50%;
    padding: 3%;
    // background-color: #e5e5e5;

    img {
        width: 90%;
    }
}

.sns {
    position: fixed;
    bottom: 60px;
    left: 100px;

    .size {
        font-size: 25px;
    }

    ul {
        display: flex;
        list-style: none;

    }

    li {
        padding-right: 20px;
        transition: all 0.5s ease;

        &:last-child {
            content: "< Follw us!";
        }

        &:hover {
            transform: translateY(-5px);
        }
    }

    a {
        text-decoration: none;
    }


}





@media (max-width: 900px) {


    #hamburger {
        background-color: transparent;
        position: relative;
        cursor: pointer;
        margin: 0 0 0 auto;
        height: 60px;
        width: 60px;
    }


    .pc {
        display: none;
    }

    .icon span {
        position: absolute;
        left: 15px;
        width: 30px;
        height: 2px;
        background-color: white;
        border-radius: 5px;
        transition: ease 0.75s;
    }

    .icon span:nth-of-type(1) {
        top: 16px;
    }

    .icon span:nth-of-type(2) {
        top: 28px;
    }

    .icon span:nth-of-type(3) {
        bottom: 16px;
    }

    .close span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 28px;
    }

    .close span:nth-of-type(2) {
        opacity: 0;
    }

    .close span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
    }

    .sm {
        top: 100px;
        left: 0px;
        position: absolute;
        z-index: 10;
        width: 100%;
        color: white;
        text-align: center;
        background-color: rgb(183 97 25 / 59%);
    }

    .sm li {
        padding-top: 10px;
    }

    .sm li:last-child {
        padding-bottom: 17px;
    }

    ul {
        flex-direction: column;
    }


}


body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Lobster&display=swap');

.menu,
.main-title {
    margin: auto;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

// body {
//     background-image: url(../../pan/paulina-milde-jachowska-m6OzmW0GrPk-unsplash.jpg);

    #cover {
        font-family: 'Babylonica', cursive;
        height: 20%;
        background-color: rgba(235, 235, 225, 0.54);
    }

    #cover.invert {
        background-color: #b1997578;
    }


@mixin baseBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    font-family: "Kokoro";
    // color: #222;
}

@mixin font-setting {
    font-family: "Sawarabi Mincho";
    font-size: 15px;
}

figcaption {


    .caption {
        @include font-setting;
    }

    .plaice {
        @include font-setting;
        text-align: end
    }
}

.box-1 {
    @include baseBlock;
    margin-left: -15%;

}

.box-2 {
    @include baseBlock;
    flex-direction: row-reverse;
    // transform:rotate(45deg);
}

.box-3 {
    @include baseBlock;

}


.single {
    font-family: 'Babylonica', cursive;
    text-align: center;
    font-size: 60px;
    // color: aliceblue;

    .box-caption {
        @include font-setting;
        // color: aliceblue;
    }
}

/* レイアウトや見た目のスタイル */
/* ---------------------------- */

// .single-item + .single-item{
//   margin: 100px;
// }
/* アニメーションスタイル */
/* ---------------------------- */

/* アニメーション前 */
.u-fade-type-up {
    transform: translateY(50px);
    opacity: 0;
}

/* トリガー発火でis-activeを付与 */
.u-fade-type-up.is-active {
    transition: 7s;
    transform: translateY(0);
    opacity: 1;
    text-align: center;
}



// フツーにcssですまぬ


iframe {
    width: 400px;
    height: 400px;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: #4b5564;
    text-decoration: none;
}

a:hover {
    color: #000;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e7eb;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.footer {
    padding: 2rem;
    font-size: 15px;
    color: #000000;
    background: #fff;

    .footer__navi-heading {
        font-weight: 600;

    }

    .footer__logo {
        display: inline-block;
        margin-bottom: 1.5rem;
    }

    .footer__navi li {
        margin-bottom: 0.75rem;
    }

    .footer__address {
        margin-bottom: 2rem;
    }

    .footer__address a {
        text-decoration: underline;
    }

    .md-justify-between {
        justify-content: space-between;
    }

    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .footer__address a {
        text-decoration: none;
        pointer-events: none;
    }
}