* {
  border: solid 1px black;
}

.main-title {
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;
}

.cover {
  height: 500px;
  background-image: url(../../pan/menu_cover.jpg);
}

@mixin baseBlock {
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 200px;
  margin: 2em auto 0;
  border: 5px solid #bbb;
}

.block-1 {
  @include baseBlock;

}

.block-2 {
  @include baseBlock;
  img {
    margin-left: 70% ;
    // transform:rotate(45deg);
  }

}

.block-3 {
  @include baseBlock;

}